*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    grid-template-areas: "Logo Nazov Nazov Nazov Nav Nav Nav" "TEXT1 TEXT1 TEXT1 FOTKA1 TEXT2 TEXT2 TEXT2" "TEXT1 TEXT1 TEXT1 FOTKA2 TEXT2 TEXT2 TEXT2" "TEXT3 TEXT3 TEXT4 TEXT4 TEXT4 FOTKA3 FOTKA4" "TEXT3 TEXT3 TEXT4 TEXT4 TEXT4 TEXT5 TEXT5" "FOTKA5 FOTKA5 TEXT4 TEXT4 TEXT4 TEXT5 TEXT5" "FOTKA5 FOTKA5 FOTKA6 FOTKA7 FOTKA8 TEXT5 TEXT5";
    width: 1400px;
    margin: auto;
}

img {
    height: 200px;
}

.logo img {
    grid-area: Logo;
    height: 150px;
    margin: 12% 0 0 12%;
}

.logo {
    background-color: #d6262fe1;
}

.nazov {
    grid-area: Nazov;
    font-size: 40px;
    padding-top: 12%;
    padding-left: 5%;
    background-color: #d6262fe1;
    color: white;
}

nav {
    grid-area: Nav;
    background-color: #d6262fe1;
    text-align: right;
    color: white;
    Padding-top: 14%;
    padding-right: 20%;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    padding: 2% 4%;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
}

.text1 {
    grid-area: TEXT1;
    background-color: #d6262f41;
}

.text1 h1 {
    margin-top: 10%;
    margin-left: 5%;
}

.text1 p {
    margin: 5% 5% 0 5%;
    text-align: justify;
}

.text2 {
    grid-area: TEXT2;
    background-color: #d6262f41;

}

.text2 h1 {
    margin-top: 10%;
    margin-left: 5%;
}

.text2 p {
    margin: 5% 5% 0 5%;
    text-align: justify;
}

.fotka1 img{
    grid-area: FOTKA1;
    height: 200px;
}

.fotka2 img{
    grid-area: FOTKA1;
    height: 200px;
}

.text3 {
    grid-area: TEXT3;
    background-color: #d6262f2f;
}

.text3 h1 {
    margin-top: 40%;
    text-align: center;
}

.fotka5 {
    grid-area: FOTKA5;
}

.fotka5 iframe {
    width: 400px;
    height: 400px;
}

.text4 {
    grid-area: TEXT4;
    background-color: #d6262f2f;
}

.text4 h1 {
    margin-top: 40%;
    margin-left: 5%;
}

.text4 p {
    margin: 5% 5% 0 5%;
    text-align: justify;
}

.fotka6 {
    grid-area: FOTKA6;
}

.fotka7 {
    grid-area: FOTKA7;
}

.fotka8 {
    grid-area: FOTKA8;
}

.text5 {
    grid-area: TEXT5;
    background-color: #d6262f2f;
}

.text5 h1 {
    margin-top: 10%;
    margin-left: 5%;
}

.text5 p {
    margin: 5% 5% 0 5%;
    text-align: justify;
}